*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.squares{
    width: 20px;
    height: 20px;
    background: gray;
}