body{
    height: 200vh;
}
.container{
    display: flex;
    gap: 20px;
    background-color: blueviolet;
}
.box{
    
}
#box1{
    background-color: aqua;
}
    
#box2{
    background-color: chocolate;
}
#box3{
    background-color:yellow;
}
#box{
    background-color: darkred;
}